<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first project</title>
</head>
<body>
    <h1> Our blog list </h1>
    <ul>
        {% if user.is_authenticated %}
        <h2> user name is : {{user.username}}</h2>
        <h2> user id : {{user.id}}</h2>
        {% for list in blog_list %}
                {% if user.id == list.author.id %}
                    <li>{{list.title}}</li>
                {% endif %}
        {% endfor %}
        {% else %}
        <h2> user not authenticated</h2>
        {% endif %}


    </ul>
</body>
</html>